@import "../index";
/*
@media (min-width: $tablet) {
}
*/

.buttonStyles {
  margin: 0 auto;
  background: $buttonColor;
  border: none;
  border-radius: 4rem;
  letter-spacing: 2px;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0.4rem 1rem;
  scale: 0.9;
  font-family: $openSans;
  font-style: normal !important;
  transition: all 0.1s ease-in-out;
  position: relative;

  a {
    color: white;
  }
  i {
    color: white;
    font-size: 1.2rem;

    @media (min-width: $tablet) {
      font-size: 1rem;
    }
  }

  @include borderFadeEffect;
}
