@import "../../index";
.GET_QUESTION_PAGE {
  background: white;
  height: 100vh;
  width: 100%;

  h4 {
    margin-top: 5rem;
  }

  & .questionWrapper {
    border-radius: 0.5rem;
    padding: 0.1rem;
    box-shadow: $box-shadow;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    overflow-y: scroll;
    position: relative;
    & .enterYourCommentBlock {
      margin: 0.3rem 0;
      background: white;
      width: 100%;
      height: 2rem;
      outline: none;
      color: black;
      display: grid;
      grid-template-columns: 0.1fr 0.9fr;
      grid-column-gap: 0.3rem;

      & .currentUserImage {
        background: transparent;
        height: 1.5rem;
        width: 1.5rem;
        justify-self: end;
        align-self: center;
        img {
          border-radius: $imageBorderRadius;
          width: 100%;
          height: 100%;
        }
      }

      & .inputWrapper {
        align-self: center;
        display: grid;
        background: transparent;
        display: grid;
        grid-template-columns: 0.8fr 0.2fr;
        grid-column-gap: 0.4rem;

        @media (min-width: $laptop) {
          grid-template-columns: 0.9fr 0.1fr;
        }
        & input {
          align-self: center;
          background-color: white;
          width: 100%;
          font-weight: 40;
          font-size: 0.7rem;
          height: 1.4rem;
          border: 1px solid rgba(58, 57, 57, 0.185);
          padding: 0 1rem;
          outline: none;
          border-radius: 0.4rem;

          @media (min-width: $laptop) {
            height: 2rem;
          }
        }

        & button {
          height: 1.4rem;
          width: 1.4rem;
          background: transparent;
          border: none;
          outline: none;
          padding: 0.1rem;
          img {
            width: 100%;
            height: 100%;
          }

          &:hover img {
            rotate: 50deg;
          }
          @media (min-width: $laptop) {
            height: 2rem;
          }
        }
      }
    }

    & .answerWrapper {
      box-shadow: $box-shadow;
      border-radius: 0.5rem;
      padding: 0.1rem;

      height: fit-content;
      margin: 0.5rem auto;

      @media (min-width: $tablet) {
        width: 100%;
      }
    }
    @media (min-width: $laptop) {
      width: 80%;
      margin-top: 3rem;
      // padding: 4rem auto;
    }
  }
  h5 {
    color: $borderDarkModeColor;
    font-size: 0.7rem;
    letter-spacing: 0;
    margin: 1rem 0;
    padding: 1rem;

    transition: letter-spacing 100ms ease;

    &:hover {
      letter-spacing: 0.1rem;
    }
  }
  .hide {
    height: fit-content;
    padding: 1rem 0;
    -moz-transition: height 500ms ease-in;
    // background: black;
    transform-origin: top;
    transition: height 500ms ease-in;
    &-true {
      display: none;
    }
    &-false {
      display: block;
    }
  }
}
