@import "../index";
/*
@media (min-width: $tablet) {
}
*/

.ContainerStyle {
  width: 100%;
  background: $whiteMode;
  display: grid;
  grid-template-columns: 1fr;

  grid-template-rows: repeat(1, 1fr);
  padding: 2rem 0;
  margin-top: 2rem;
  position: relative;
  @media (min-width: $laptop) {
    margin-top: 5rem;
    grid-column: 2/-1;
    width: 100%;
    padding: 0;
    grid-template-columns: 0.3fr 0.8fr;
    grid-template-rows: repeat(1, 1fr); //1fr or autofit
  }
}
