@import "../index";

.AboutStyle {
  background: $aboutBackground;

  height: fit-content;
  width: 100%;
  color: $textColor;
  grid-row: 2 / span 1;
  margin-top: -5rem;
  display: grid;
  grid-template-rows: 0.3fr repeat(autofit, autofit);
  grid-gap: 1.5rem;
  padding-bottom: 5rem;

  position: relative;

  @media (min-width: $laptop) {
    grid-column: 1/-1;
  }

  .QueryHeaderWrapper {
    margin-top: 5rem;
  }
  .QueryHeader {
    color: $textColor;
    width: 50%;
    margin: 0 auto;
    text-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.151);
    margin-top: 6rem;

    font-weight: 300;
    font-size: 1.5rem;
  }
  .aboutSvg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .bottom {
    position: absolute;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.custom-shape-divider-top-1623052345 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1623052345 svg {
  position: relative;
  display: block;
  width: calc(162% + 1.3px);
  height: 234px;
}

.custom-shape-divider-top-1623052345 .shape-fill {
  fill: $whiteMode;
}
