@import "../../index";

.SIGN_UP_PAGE {
  grid-column: 1/-1;
  grid-row: 1/-1;
  @media (min-width: $laptop) {
    grid-column: 1/-1;
    grid-row: 1/-1;
    z-index: 100;

    background: $whiteMode;
  }

  .AboutQuestionWrapper {
    @media (min-width: $laptop) {
      width: 60%;
      margin: 0 auto;
    }
  }

  h2,
  h4 {
    color: white;
    margin: 2rem auto;
    font-size: 1.3rem;
    font-weight: 300;
  }
}

