@import "../index";

.DetailsButtonStyle {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  font-size: 0.5rem;
  color: #5c5b5b;
  place-items: center;
  cursor: pointer;
  @media (min-width: $tablet) {
    font-size: 0.7rem;
  }
  @media (min-width: $laptop) {
    font-size: 0.8rem;
  }
}
.UserButtonsArea i {
  color: #18181aab;
  font-size: 0.8rem;
  margin: 0.3rem;
}
