@import "../index";

.FooterStyle {
  height: fit-content;
  width: 100%;
  background: transparent;
  padding: 0;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  z-index: 3;

  .socialMediaBlock {
    background: $officialWhite;
    padding: 1rem;
    display: grid;
    place-items: center;

    & .socialMedia {
      background: transparent;
      height: fit-content;
      width: 60%;
      display: grid;
      color: #0f0f0f;
      grid-template-columns: repeat(3, 1fr);
      place-items: center;
      @media (min-width: $tablet) {
        width: 30%;
      }
      @media (min-width: $laptop) {
        width: 10%;
      }
      a {
        div {
          background-position: center;
          background-size: cover;
          height: 2rem;
          width: 2rem;
        }
      }
    }
  }

  .downloadMediaBlock {
    background: $officialWhite;
    display: grid;
    padding: 1rem;
    place-items: center;
    color: #0f0f0f;

    & .downloadMedia {
      background: transparent;
      height: fit-content;
      scale: 0.7;
      width: 70%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 0.4rem;
      color: $officialWhite;
      @media (min-width: $tablet) {
        width: 40%;
        margin: 2rem auto;
      }
      @media (min-width: $ipad-pro) {
        width: 25%;
        scale: 0.9;
      }

      @media (min-width: $laptop) {
        width: 25%;

        margin: 2rem auto;
      }
      & .media1 {
        padding: 0rem 0.5rem;
        background: black;
        display: grid;
        grid-template-columns: 0.2fr 0.8fr;
        font-size: 0.7rem;
        place-items: center;
        border-radius: 0.3rem;
        & * {
          color: inherit;
        }

        @media (min-width: $ipad-pro) {
        }
      }

      & .media2 {
        padding: 0 0.5rem;
        background: black;
        display: grid;
        grid-template-columns: 0.2fr 0.8fr;
        font-size: 0.7rem;
        place-items: center;
        border-radius: 0.3rem;

        & * {
          color: inherit;
        }
      }
    }
  }

  .footerClosure {
    margin: 3rem auto;
    color: inherit;
    font-size: 0.6rem;
    place-self: center;
    // margin-top: 1rem;
  }

  .mediaHeader {
    margin: 1rem 0;
    color: inherit;
    font-weight: 600;
    font-size: 1rem;
  }

  i {
    color: #03a9f4;
    font-size: 2rem;
  }

  @media (min-width: $laptop) {
    grid-column: 1/-1;
  }
}

.fa-apple {
  font-size: 6rem;
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
